<button type="button" (click)="createEvent()">Create</button>
<button type="button" (click)="logout()">Logout</button>

<div class="card" (click)="navigateTo('naechsterStammtisch')">
    <div class="card-header">
        <small>{{stammtischService.nextStammtisch()?.date | date:'dd.MM.YYYY'}}</small>
    </div>
    <div class="card-body">
        <h5 class="card-title">Participants</h5>
        <ul>
            @for (item of stammtischService.nextStammtisch()?.participants; track $index) {
                <li>{{item.person.email}}</li>
            }
        </ul>
    </div>
</div>
